<!DOCTYPE html>
<html lang="en"  ng-app="App"   ng-controller='MainController'>

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modi Blog - Your one stop shop for all the relvant info on Modi</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js" type="text/javascript"></script>
    <!-- Bootstrap Core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Theme CSS -->
    <link href="static/css/grayscale.css" rel="stylesheet">
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
  <div id='content'>


    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Goto</span> Top
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="page-scroll">
                        <a href="#page-top">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                      <a href="#github"> SourceCode </a>
                    </a>
                    <li class="page-scroll">
                        <a href="#download">Blog Entries</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading" style="margin-top:70px"> The Modi Blog</h1>
                        <p class="intro-text">
                            - By Milan Pandey</p>
                        <p class="intro-text">
                            A blog too keep you up,close and updated with the
                            latest on the Naredra Modi. 
                            <hr/>
                            
                        </p>
                        <div class="page-scroll">
                            <a href="#about" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Modiblog</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus at dui nec lacinia. In convallis tellus tincidunt est tristique pellentesque. In porta fermentum leo vitae volutpat. Phasellus feugiat ligula eget augue facilisis sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam porttitor felis quis molestie elementum. Fusce feugiat eros non tellus blandit vulputate. Quisque id mi eu nisl fringilla pellentesque. Nam ultrices justo eu auctor egestas. Aliquam ac neque in diam placerat pharetra. Nam rutrum, turpis ac vulputate luctus, velit eros ultrices nunc, quis fringilla metus arcu in ante. Pellentesque eleifend auctor feugiat. Cras at ligula augue. Donec quis eleifend massa, eget tempus orci.

                    Fusce luctus nunc vel porta laoreet. Nunc leo enim, vulputate hendrerit facilisis ut, tincidunt vel nisl. Nullam molestie aliquam elit, nec pulvinar sem venenatis ac. Duis elit leo, semper sed rutrum sed, consectetur ut velit. Suspendisse id mattis nibh. Nunc eu nibh augue. Curabitur cursus nisl elit, vel dictum ipsum hendrerit adipiscing. Praesent facilisis malesuada risus ac aliquam. Morbi ac nisi eu purus lobortis laoreet eu quis leo. Praesent non pellentesque erat, vestibulum tristique odio. Pellentesque congue ipsum ut varius porttitor. Suspendisse tempus, orci sed faucibus tincidunt, velit metus consequat justo, at cursus diam mauris et nunc. Suspendisse eu fringilla ligula. Proin eu luctus massa, quis consectetur est. In ac velit molestie nibh porttitor placerat sed ullamcorper enim.
                </p>
            </div>
          </div>
    </section>

    <section id="github" class="content-section text-center">
        <div class="row">
            <div class="container">
                <p>This Project has been created with the 
                    Help of the following :-
                    <br/>
                 <ul class="list-inline">
                  <li>
                    <span class="label label-default"> Redis </span>
                  </li>
                  <li>
                    <span class="label label-default"> Django </span>
                  </li>
                  <li>
                    <span class="label label-default"> Angular </span>
                  </li>
                  <li>
                    <span class="label label-default"> BootStrap </span>
                  </li>
                  <li>
                    <span class="label label-default">MongoDb</span>
                  </li>
                 </ul>
                </p>
                <p>Feel free to use this template. Just the slightest splash of color can make a huge impact on the overall presentation and design.</p>
            </div>
        </div>
    </section>
         <script type="text/javascript">
    /*
      Need to specify the custom mapping 
      For the angularJS module 
    */
            var App = angular.module('App', []);

            App.config(function($interpolateProvider) {
                $interpolateProvider.startSymbol('//');
                $interpolateProvider.endSymbol('//');
            });
        
            App.controller("MainController", function($scope){
                $scope.title = "World of awesome" ; 
                $scope.body  = "More Amazing Stuff lying here" ; 
                $scope.hello = function(){
                     var ID = $(".item.active").attr("id") ; 
                    $.ajax({
                      url: "posts/"+ID , 
                      success: function(data) {
                          if(data && data.title && data.body) {
                             /* $("#successModal").find(".modal-body").find("p").find("small").html(data.title);
                              var a = $("#successModal").find(".modal-body").find("p")[1] ;
                              $(a).find('small').html(data.body) ; */
                              $scope.$apply( function(){
                                $scope.title = data.title ;
                                $scope.htmlString = data.body ;  
                              }) ; 
                              
                              $("#successModal").modal('show') ; 
                              var a = $(".modal-header h4")[0] ;
                              $(a).css("color" , "black") ; 
                              a = $(".modal-header h4")[1] ;
                              $(a).css("color" , "black") ;
                          } 
                          else {
                              $("#errorModal").modal('show') ; 
                          }
                      } , 
                      error : function() {
                          $("#errorModal").modal('show') ; 
                      }
                  }) ;
                }
            });
    </script>

    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                          {% for item in posts %}
                            {% if forloop.last %}
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            {% else %}
                              <li data-target="#myCarousel" data-slide-to="1"></li>
                            {% endif %}
                          {% endfor %}
                        </ol>   
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            {% for item in posts %}
                              {% if forloop.last %}
                                <div class="item active" style="cursor:pointer" id={{ item.pk }} 
                                ng-click="hello()">
                              {% else %}
                                <div class="item" style="cursor:pointer" id={{ item.pk }}
                                ng-click = "hello()" >
                              {% endif %}   
                                  <h2>{{ item.title }}</h2>
                                  <div class="carousel-caption" >
                                  </div>
                              </div>
                            {% endfor %}
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Me</h2>
                <p>Feel free to email me to provide some feedback on our blog engine, give us suggestions for new templates and themes, or to just say hello!</p>
                <p>milanlanpandey@live.com</p>
                <ul class="list-inline banner-social-buttons">
                    <li><a href="https://twitter.com/milan_pandey" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li><a href="https://github.com/milanpandey" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li><a href="https://plus.google.com/+MilanPandey09" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    <li>
                      <a href="http://www.facebook.com/milanpandey09" class="btn btn-default btn-lg"><i class="fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Modal HTML -->
   <div id="errorModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top:150px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="color:black">Oh Noes</h4>
            </div>
            <div class="modal-body">
                <p style="color:black">Something went Wrong</p>
                <p class="text-warning"><small>
                  Don't Panic. A team of highly trained Lycans are on their way
                  to fix the issue. 
                </small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
   </div>

   <div id="successModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top:150px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="color:black !important"> Modi News </h4>
            </div>
            <div class="modal-body">
                              
                <p style="color:black !important"> // title //</p>
                <p class="text-warning" ><small ng-bind-html-unsafe="htmlString">
                    
                </small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
   </div>
    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/grayscale.js"></script>
  </div>
</body>

</html>
